@import url('https://fonts.googleapis.com/css?family=Quattrocento');

#box {
	/*position: absolute;*/
	padding: 10px;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	background: orange;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
	/*-webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
	transition: width 2s, height 2s, background-color 2s, transform 2s;*/
}

#box:hover {
	background: yellow;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform:rotate(180deg);
	/*-webkit-transform: rotate(180deg);
	transform: rotate(180deg);*/
}

.showme{
	display: none;
}
.showFirst:hover .showme{
	display : block;
}
.showFirst:hover .ok{
	display : none;
}

.showFirst {
	margin: 40px auto 100px;
	padding: 10px;
	color: black;
	border-width: 2px;
	border-radius: 5px 10px;
	border-style: solid;
	border-color: red;
	font-family: 'Quattrocento', cursive;
	font-size: 300%;
}

p {
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}
	to {
		margin-left: 0;
		width: 100%;
	}
}
